<h1>Admins#index</h1>
<p>Find me in app/views/admins/index.html.erb</p>

<% if admin_signed_in? %>
  <p>
    <%= link_to "Go back to the welcome page", :root %>
  </p>
  <p>
    <%= link_to "Admin listing", admin_list_index_path %>
  </p>
  <p>
    <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
  </p>
<% end %>